<div class="mb-10vh mt-12vh">
    <div class="d-flex flex-column align-items-center">
    
        <%# <div class="card" style="width: 18rem;"> %>
    
        <%if @autos.empty?%>
            <h4 class="p-2">No hay autos disponibles</h4>
        <%else%>
            <% @autos.each do |auto| %>
                <a class="card rounded-5 shadow container" style="width: 19rem; border-color: white;" href="/users/vehiculo/<%=auto.id%>">
                    <%if auto.imagen.attached?%>
                        <%= image_tag(auto.imagen) %></td>
                    <%else%>
                        <label>Sin Foto</label>
                    <%end%>
                    <div class="card-body">
                        <div class="d-flex">
                            <h5 class="card-title montserrat-title"><%=auto.modelo%> </h5>
                            <p id="distance<%=auto.id%>" class="card-text" style="margin-left:0.7rem;">Distancia no disponible</p>
                        </div>
                        <p class="card-text pt-1">Año: <b><%= auto.anio %><b></p>
                        <p class="card-text">Caja: <b><%= auto.tipo_de_caja %><b> </p>
                    </div>
                </a>
                <br>
            <% end %>
        <%end%>
    </div>
</div>

<style>
    a{
        color: black;
        text-decoration:none
    }
</style>

<script>

    function deg2rad(deg) {
        return deg * (Math.PI/180)
    }

    // function that calculates the distance between two points
    function getDrivingDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
        Number.prototype.toRad = function() {
        return this * Math.PI / 180;
        }

        var R = 6371; // km
        var x1 = lat2-lat1;
        var dLat = x1.toRad();
        var x2 = lon2-lon1;
        var dLon = x2.toRad();
        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                        Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) *
                        Math.sin(dLon/2) * Math.sin(dLon/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        return d;
    }

    var user_lat = <%= session[:lat] %>
    var user_lng = <%= session[:lng] %>

    <% @autos.each do |auto| %>
        var auto_lng = <%= auto.location_point.y %>
        var auto_lat = <%= auto.location_point.x %>

        var distance = getDrivingDistanceFromLatLonInKm(user_lat, user_lng, auto_lat, auto_lng);
        distance = distance.toFixed(2)
        document.getElementById("distance<%=auto.id%>").innerHTML = distance + " km"
    <% end %>

</script>
