<head>
  <link href="https://fonts.cdnfonts.com/css/credit-card" rel="stylesheet">
</head>

<body>

  <div class="container bg-white mx-auto align-items-start rounded-5 shadow mt-12vh" style="width: 90%">
    <div class="row">
      <div class="col-12">
        <p class="montserrat-text p-1 mt-3">Tu saldo, <strong><%= number_with_precision(@wallet.user.first_name, precision: 2, separator: ',', delimiter: '') %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="montserrat-title p-2" style="color: black">$ <%= @wallet.saldo.round(2) %></h1>
      </div>
    </div>
    <div class="row">
      <div type="button" class="btn boton-wallet shadow d-flex p-1 align-items-center justify-content-center" style="margin-right: 1rem; margin-left: auto; margin-bottom: 1rem" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-dollar text-white mx-auto" style="font-size: 1rem"></i>
      </div>
    </div>

  </div>

  <br>

  <div id="container-gastos" class="container-gastos bg-white d-flex mx-auto align-items-start rounded-5 shadow" style="width: 85%">
    <div class="flex-column text-center mx-auto mt-auto mb-auto">
      <p class="montserrat-text" style="color: black">Última carga</p>
      <p class="montserrat-title" style="color: green; margin-bottom:0">$ <%= '%.2f' % @wallet.ultima_carga %></p>
    </div>
    <div class="separator"></div>
    <div class="flex-column text-center mx-auto mt-auto mb-auto">
      <p class="montserrat-text" style="color: black">Último gasto</p>
      <p class="montserrat-title" style="color: red; margin-bottom:0">$ <%= '%.2f' % @wallet.ultimo_gasto %></p>
    </div>
  </div>

  <br>

  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">

      <% @cards.each_with_index do |card, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <div class="card bg-grad rounded-4 shadow" style="width:75%">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title text-white card-num" id="card-num"><%= '**** **** **** ' + card.number.to_s.last(4) %></h5>
              </div>

              <div class="row">
                <p class="card-text text-white"><strong><%= card.user.first_name %> <%= card.user.last_name %></strong></p>
              </div>

              <div class="row" style="width:100%;position: absolute;bottom: 0;">
                <div class="col-9">
                  <p class="card-text text-white"><%= card.date %></p>
                </div>
                <div class="col-3">
                  
                  <% if card.brand == "Visa" %>
                    <p class="fa-brands fa-cc-visa fa-2x text-white"></p>
                  <% elsif card.brand == "MasterCard" %>
                    <p class="fa-brands fa-cc-mastercard fa-2x text-white"></p>
                  <% elsif card.brand == "American Express" %>
                    <p class="fa-brands fa-cc-amex fa-2x text-white"></p>
                  <% else %>
                    <p class="card-text text-white"><%= card.brand %></p>
                  <%end%>

                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="carousel-item active">
        <div class="card bg-transparent rounded-4 shadow">
          <a class="card-body d-flex flex-column rounded-4 align-items-center justify-content-center" style="border-style: dashed; border-color: white;" href="/cards/create">
            <p class="card-title text-white bold" style="font-size:large">Agregar una nueva tarjeta</p>
            <h1 class="fa-solid fa-plus text-white"></h1>
          </a>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</body>

<!-- Pay modal -->
<div class="modal fade mt-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cargar saldo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="form1">

        <div class="row m-4 p-2">
        <select class="form-select mb-3" aria-label="Default select example" name="card_id" id="card_id">
          <% if !@cards.empty? %>
            <% @cards.each do |card| %>
              <option value="<%= card.id %>">
                <%= card.brand %>
                •
                <%= card.number %>
              </option>
            <% end %>
          <%else%>
            <option selected>No hay tarjetas cargadas</option>
          <%end%>
        </select>
          Tarjeta


          <button type="button" class="btn btn-orange mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#FFFFFF" class="bi bi-credit-card me-2 mb-1" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
              <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
            </svg>
            <%= link_to "Cargar nueva tarjeta", "/cards/create", style: "text-decoration: none; color: white"%>
          </button>
        </div>

        <%= form_for(@wallet, as: :wallet, url: "/wallets/cargar_saldo/#{@wallet.user_id}" , html: { method: :put, id:"form2" }) do |form| %>
        <div class="row m-4">
          <div class="col-7">
            <div class="form-outline">
              <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <%= form.number_field :ultima_carga, class: "form-control", min: "0", required: true, value: "0" %>
              </div>
              <%= form.label "Monto" %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <% if @cards.empty? %>
            <button disabled type="button" class="btn btn-orange text-white">Pagar</button>
          <%else%>
            <%= form.submit "Pagar", class: "btn btn-orange text-white" %>
          <%end%>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<!-- End pay modal -->

<style>

  .container-gastos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }

  .separator {
    width: 1px;
    height: 100%;
    background-color: #827E7C;
    height: 15vh;
  }

  .bg-grad{
    background: rgb(68,67,67);
    background: linear-gradient(329deg, rgba(68,67,67,1) 0%, rgba(56,56,56,1) 22%, rgba(0,0,0,1) 51%, rgba(56,56,56,1) 77%, rgba(68,67,67,1) 100%);

    /*background: rgb(219,219,219);
    background: linear-gradient(329deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 50%, rgba(219,219,219,1) 100%);*/
  }

  .boton-wallet{
    background-color: #FFA166;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .card {
    
    margin: auto;
    width: 80%;
    height: 20vh;

  }

  .card-num{
    font-family: 'Credit Card', sans-serif;
    font-size: large;
  }
</style>

<script>

  let myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
  hist = document.referrer;
  if (hist.includes("cards/create")) {
    myModal.show();
  }

</script>
